# dependencies
/node_modules

#misc
/.idea
/.idea/workspace.xml
/uploads
/errors/error-logs.txt

download-logs.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# production
/build

